body {
	display: grid;
	grid-template-rows: 1fr;
	width: 100%;
	height: 100vh;
}

#board-container {
	background-color: #ffffff;
	padding: 15px;
	width: 100%;
}

#board {
	max-width: 100%;
	margin: 0 auto;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr;
	width: 100%;
	padding: 10px;
}


.message.bubble {
	padding: 5px;
	/*background-color: #EAEDED;*/
	border-radius: 5px;
	min-width: 30%;
	max-width: 80%;
	justify-self: start;
	border-radius: 25px;
	background-color: #85C1E9;
}



.username {
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 1em;
	padding: 5px;
	font-style: italic;
	justify-self: end;
}


.message.bubble .text {
	font-size: 2em;
	max-width: 50%;
}

/*.message.bubble .username {
	color: #111D4A;
	font-weight: bold;
}
*/

.send {
  background-color: #3498DB;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.message.bubble.personal {
	justify-self: end;
	border-radius: 25px;

}

.message.bubble.personal .text {
	color: black !important;
}

#input-box {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 9fr 1fr;
	grid-gap: 15px;
	padding: 10px;
	min-height: 10%;
	background-color: #ffffff;
}


#text-box {
	border-radius: 25px;
  	border: 2px solid #EAEDED;
  	padding: 23px;
  	width: 100%;
  	height: 100%;
  	font-size: 100%;
}
/*$theme-primary: #8789C0;
$theme-secondary: #111D4A;
$theme-accent: #45F0DF;
$theme-light: #C2CAE8;
$theme-lighter: #ebeefc;
$theme-dark: #8380B6;
$theme-neutral: #ccc5d6;*/
