body {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100vh;
}

#board-container {
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    padding-bottom: 13%;
}

#board {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 10px;
}


.message.bubble {
    padding: 10px;
    /*background-color: #EAEDED;*/
    border-radius: 8px;
    border-color: black;
    max-width: 100%;
    background-color: #D6EAF8;
    box-shadow: 2px 2px 10px #EAEDED;
}


.username {
    background-color: #ffffff;
    font-size: 1em;
    padding: 5px;
    font-style: italic;
}

.personalbox, .senderbox {
	width: 100%;
}

.personalbox {
    display: grid;
    justify-items: end;
    justify-self: end;
}

.personalbox .username {
    justify-content: end;
}

.personalbox .message.bubble .text {
    text-align: right;
}

.senderbox{
    display: grid;
    justify-items: start;
}

.senderbox .username {
    justify-content: start;
}


.senderbox .message.bubble, .personalbox .message.bubble {
	min-width: 30%;
	max-width: 80%;
}

.message.bubble .text {
    font-size: 1.5em;
    width: 100%;
}


.send {
  background-color: #3498DB;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  margin: 4px 2px;
  cursor: pointer;
}


.message.bubble.personal {
    justify-self: end;
    width: 100%;
    border-radius: 8px;
}

/*.message.bubble.personal .text {
    color: black !important;
}*/

#input-box {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-gap: 15px;
    padding: 10px;
    min-height: 10%;
    background-color: #ffffff;
}


#text-box {
    border-radius: 8px;
	border: 2px solid #EAEDED;
	padding: 23px;
	width: 100%;
	height: 100%;
	font-size: 1.5em;
	outline: none;
}

#text-box:focus {
	border-color: #3498DB;
	box-shadow: 2px 2px 10px #EAEDED;
}


@media only screen and (min-width: 600px) and (max-width: 900px) {
	.username {
		font-size: 1.5em;
	}
	#text-box, .message.bubble .text, .send {
		font-size: 2.5em;
	}
	#input-box {
    	grid-template-columns: 9fr 1fr;
	}
}
/*$theme-primary: #8789C0;
$theme-secondary: #111D4A;
$theme-accent: #45F0DF;
$theme-light: #C2CAE8;
$theme-lighter: #ebeefc;
$theme-dark: #8380B6;
$theme-neutral: #ccc5d6;*/